@model Metamorphic.Sensor.Http.Models.SiteInformationModel

<footer>
    <div>
        <p>
            @Html.DisplayFor(model => model.Copyright)
        </p>
    </div>
    <div class="col-md-3">
        <h2>Versions</h2>
        <p>
            Assembly: @Html.DisplayFor(model => model.AssemblyVersion)
        </p>
        <p>
            File:     @Html.DisplayFor(model => model.FileVersion)
        </p>
        <p>
            Product:  @Html.DisplayFor(model => model.ProductVersion)
        </p>
    </div>
    <div class="col-md-3">
        <h2>Build</h2>
        <p>
            Time:   @Html.DisplayFor(model => model.BuildTime)
        </p>
        <p>
            Number: @Html.DisplayFor(model => model.BuildNumber)
        </p>
    </div>
    <div class="col-md-3">
        <h2>Source version</h2>
        <p>
            Commit: @Html.DisplayFor(model => model.Commit)
        </p>
    </div>
</footer>